<div class="p-12 h-180">
  <div class="text-lg pb-10">New Payment</div>
  <form [formGroup]="paymentGroup">
    <div class="flex flex-row w-full h-24">
      <div class="w-6/12">
        <mat-form-field class="w-full pr-4">
          <mat-label>Products</mat-label>
          <mat-select formControlName="product">
            <mat-option
              *ngFor="let product of products$ | async"
              [value]="product"
            >
              {{ product.name }}
            </mat-option>
          </mat-select>
          <mat-error>Product is required</mat-error>
        </mat-form-field>
      </div>
      <div class="w-6/12">
        <mat-form-field class="w-full">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" formControlName="quantity" />
          <mat-error>Quantity</mat-error>
        </mat-form-field>
      </div>
    </div>
    <button
      mat-stroked-button
      (click)="handlerCheckoutClick()"
      [disabled]="paymentGroup.invalid || (waitPayment$ | async)"
    >
      Continue Checkout
    </button>
  </form>
</div>
